.navbar{
    background-color: var(--bg-color);
}

.navbarLinks{
    max-width: 70rem;
    width: 100%;
    display: flex;
    padding: 15px 6px;
    list-style: none;
    justify-content: space-between;
    margin-inline: auto;
    align-items: center;
}

.link{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color : var(--primary);
    transition: all 0.2s ease-in-out;
}
.link:hover {
    opacity: 0.8;
}

.toggle{
    display: flex;
    align-items: center;
}
.toggleLabel{
    margin: 0 8px;
    color: var(--text-secondary);
    font-size: 12px;
    font-weight: 300;
}

.toggleButton{
    padding: 1px;
}


@media (max-width:576px) {
    .navbarLinks{
        padding: 12px;
        min-width: 300px;
    }
    .toggleLabel{
        margin: 0 2px;
    }
    
}