.table{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    background-color: var(--card-color);
}
.tablebody{
    height: 46vh;
    min-height: 25rem;
    overflow:auto;
    display: block;
}

.tableheader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: var(--hover-color);
    color : var(--text-primary)
}

.tableheader__cell{
    display: grid;
    place-items:center;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    padding: 8px 2px;
}

.tablerow{
    display: flex;
    cursor: pointer;
    color: var(--text-secondary);
    transition: all 0.25s ease-in-out;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid var(--line-color);
}

.tablerow:hover{
    font-weight: 600;
    color: var(--text-primary);
    background-color: var(--hover-color);
}

.tablerow__cell{
    display: grid;
    place-items:center;
    font-size: 0.8rem;
    text-align: center;
    padding: 6px 2px;
}

.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
